.banner {
    width: auto;
    background: url("hoome.png")
    no-repeat center center;
    background-size: cover;
    padding-top: 20%;
    padding-bottom: 30%;
    color: #fff;
}
@media only screen and (max-width: 480px){
    .banner {
        width: auto;
        background: url("hoome_potrait.png")
        no-repeat center center;
        background-size: cover;
        padding-top: 10%;
        padding-bottom: 350%;
        color: #fff;
    }
}

.banner2 {
    background: url("hoome.png")
    no-repeat center center;
    background-size: cover;
    padding-top: 5%;
    padding-bottom: 15%;
    color: #fff;
}

.top{
    position: absolute;
    top: 150px;
}
.colorpink{
    background-color: #fc2585;
}
.blur {
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    background-color: rgba(73, 73, 73, 0.35) !important;
}
.shadow-5-strong {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}
input.transparent-input{
    background-color:rgba(255, 255, 255, 0.252) !important;
    border:none !important;
}
.transparent-background{
    background-color:rgba(255, 255, 255, 0.113) !important;
    border:none !important;
}
.button-press-pink:hover {
    box-shadow: 0 12px 16px 0 rgba(206, 73, 73, 0.335), 0 17px 50px 0 rgba(206, 73, 73, 0.19);
    background-color: #fc2586e4;
}
.rectangleForm{
    position: absolute;
    top: 55%;
    left: 70%;
    transform: translate(-50%,-50%);
    padding: 25px 25px;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.598);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.116);
}
.transparent-background{
    background-color:rgba(36, 36, 36, 0.701) !important;
    border:none !important;
}
.transparent-background2{
    background-color:rgba(24, 24, 24, 0.326) !important;
    border:none !important;
}